<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>
  <link rel="stylesheet" href="static/style_landing.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">

  <style>
    
  </style>
</head>
<body>
  <div class="navbar_Aqib" style="background: linear-gradient(135deg, #2C3E50, #4CA1AF);">
    <a class="logo" href="#" style="padding: 0px 8px; font-family:'Cormorant Garamond';font-style:italic;font-size:30pt; margin-top: 15px; margin-bottom: 20px;"><b>Placed</b></a>
    <!-- <a href="/login" style="background-color: #2a9d8f; border-radius: 35px; padding: 5px 15px; margin-top: 20px; margin-left: 2%;"><b>Login</b></a> -->
    <a href="/login" style="background-color: #dfdfdf; border-radius: 30px; color: #000000; padding: 10px 25px; margin-top: 25px; margin-left: 1%;"><b>Login</b></a>
    
    
  <!--  -->
  <!-- <form class="drop_register" method="post"  action="{{ url_for('redirect_to_page') }}">
    <select style="padding: 2px; width: 110px;" id="registerState" class="form-select" name="register_dropdown">
      <option value="Student">Student</option>
      <option value="Admin">Admin</option>
      <option value="Company">Company</option>
    </select>
    <button type="submit" style="background-color: #2a9d8f; border-radius: 35px; margin-left: 1%; padding: 5px 15px; margin-top: 20px; float: left; margin-bottom: 20px;">Register</button>
  </form> -->
  <div style=" margin-left: 75%; margin-top: 30px; ">

    <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off" disabled>
    <label style="background-color: #dfdfdf;color: black; padding: 10px 15px; margin-right: 5px;" class="btn btn-secondary" for="option2"><b>Register as :</b></label>

    <!-- <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked="">
    <label style="background-color: #dfdfdf; border: 0px; border-radius: 35px; padding: 10px 15px;"  class="btn btn-secondary" for="option1"><a style="padding: 0px 0px; margin: 0px 0px; color: #000000;" href="/register_admin" >Admin</a></label>
     -->
    <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
    <label style="background-color: #dfdfdf; border: 0px; border-radius: 35px; padding: 10px 15px;" class="btn btn-secondary" for="option2"><a style="padding: 0px 0px; margin: 0px 0px; color: #000000;" href="/register_company" >Company</a></label>
    
    
    <input type="radio" class="btn-check" name="options" id="option4" autocomplete="off">
    <label style="background-color: #dfdfdf; border: 0px; border-radius: 35px; padding: 10px 15px;" class="btn btn-secondary" for="option3"><a style="padding: 0px 0px; margin: 0px 0px; color: #000000;" href="/register_student" >Student</a></label>
  
  </div>
  </div>


  <div style="margin: 0px 0px;">
    <video width="100%" height="40%" autoplay loop muted>
    <source src="static/landingpagevideo1.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
</div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>
