<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Update field</title>
</head>
<body>

<div class="container mt-5">
    <form method="POST" action="/update_field/{{field}}">
        <div class="form-group" >
            {% if field in ["year","backlog","currentcgpa","phoneno"] %}
            <label for="inputValue">{{field}}:</label>
            <input type="number" class="form-control" id="inputValue" placeholder="Type something" name="value" step="0.01" required>
            {% elif field == "email" %}
            <label for="inputValue">{{field}}:</label>
            <input type="email" class="form-control" id="inputValue" placeholder="Type something" name="value" required>
            {% elif field == "dob" %}
            <label for="inputValue">{{field}}:</label>
            <input type="date" class="form-control" id="inputValue" placeholder="Type something" name="value" required>
            {% else %}
            <label for="inputValue">{{field}}:</label>
            <input type="text" class="form-control" id="inputValue" placeholder="Type something" name="value" required>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<!-- Bootstrap JS and Popper.js (required for Bootstrap) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
